.button {
    background-color: var(--control-color);
    color: var(--foreground-color);
    font-size: large;
    border: none;
    border-radius: 1rem;
    width: 10rem;
    height: 3rem;
}

.button:hover {
    background-color: var(--control-hover-color);
    cursor: pointer;
}

.button:active {
    background-color: var(--control-click-color);
}

.icon {
    vertical-align: middle;
    margin-right: 0.5rem;
    height: 1.5rem;
    width: 1.5rem;
}