:root {
    --slate-50: #f8fafc;
    --slate-100: #f1f5f9;
    --slate-200: #e2e8f0;
    --slate-300: #cbd5e1;
    --slate-400: #94a3b8;
    --slate-500: #64748b;
    --slate-600: #475569;
    --slate-700: #334155;
    --slate-800: #1e293b;
    --slate-900: #0f172a;

    --gray-50: #f9fafb;
    --gray-100: #f3f4f6;
    --gray-200: #e5e7eb;
    --gray-300: #d1d5db;
    --gray-400: #9ca3af;
    --gray-500: #6b7280;
    --gray-600: #4b5563;
    --gray-700: #374151;
    --gray-800: #1f2937;
    --gray-900: #111827;

    --sky-500: #0ea5e9;
    --sky-600: #0284c7;
    
    --emerald-400: #34D399;
    --emerald-600: #059669;

    --red-500: #ef4444;
    --red-600: #dc2626;

    --background-color: var(--slate-100);
    --foreground-color: var(--slate-900);
    --foreground-hover-color: var(--slate-700);
    --panel-color: var(--slate-200);
    --control-color: var(--slate-300);
    --control-hover-color: var(--gray-300);
    --control-click-color: var(--gray-400);
    --error-color: var(--red-500);
    --hyperlink-color: var(--sky-600);
    --success-color: var(--emerald-400);
}

@media (prefers-color-scheme: dark) {
    :root {
        --background-color: var(--slate-800);
        --foreground-color: var(--slate-200);
        --foreground-hover-color: var(--slate-400);
        --panel-color: var(--slate-700);
        --control-color: var(--slate-600);
        --control-hover-color: var(--gray-600);
        --control-click-color: var(--gray-500);
        --error-color: var(--red-600);
        --hyperlink-color: var(--sky-500);
        --success-color: var(--emerald-600);
    }
}
